html {
    height: 100%;
    width: 100%;
}

a{
    color: white;
    font-family: monospace;
}

body{
    background-color: #1F1E1E;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*prevent scroll*/
    
}

#columns{
    height: 93%; /*if i get rid of footer i can make it 100%*/
    width: 100%;
    
}

#nav{
    margin-top: 3%;
    width: 53px;
    height: 500px; 
    
}
         
#home{
    border-radius: 500px;
    border: 1px;
    border-color: white;
    border-style: solid;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 11px;
    height: 40px;
    margin-right: 5px;
    padding: 10px 0px 0px 10px;
    opacity: .4;
    width: 40px;
}

#map{
    border-radius: 500px;
    border: 1px;
    border-color: white;
    border-style: solid;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 11px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    top: 15px;
    padding: 10px 0px 0px 10px;
    opacity: .4;
    width: 40px;
}

#tempButton{
    border-radius: 500px;
    border: 1px;
    border-color: white;
    border-style: solid;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 11px;
    height: 40px;
    list-style-type: none;
    margin-right: 5px;
    margin-top: -3.5%;
    margin-top: 5px;
    padding: 10px 0px 0px 10px;
    opacity: .4;
    width: 40px;
}

#map:hover{
    opacity: 1;
    transition: opacity 1s;
}

#home:hover{
    opacity: 1;
    transition: opacity 1s;
}

#tempButton:hover{
    opacity: 1;
    transition: opacity 1s;
}


#bottle{
    background: none;
    color: white;
    font-family: monospace;
    height: 603px;
    overflow: visible;
    width: 235px;
    margin-top: -40%; /*sure*/
    margin-left: 75%;
    
}


footer{
    color: white;
    clear: both;
    font-size: 10px;
    padding: 10px;
    margin-top: 0px;
    font-family:monospace
}